<h1>Playlist Clips</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Position</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @playlist_clips.each do |playlist_clip| %>
      <tr>
        <td><%= playlist_clip.id %></td>
        <td><%= link_to playlist_clip.position, playlist_clip_path(playlist_clip) %></td>
        <td><%= playlist_clip.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_playlist_clip_path(playlist_clip), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', playlist_clip_path(playlist_clip), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_playlist_clip_path, :class => 'btn btn-primary' %>
