<h1>Clips</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
	  <th>Start ms</th>
      <th>Subtitle</th>
      <th>Movie</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @clips.each do |clip| %>
      <tr>
        <td><%= clip.id %></td>
		<td><%= clip.start_ms %></td>
        <td><%= link_to clip.subtitle, clip_path(clip) %></td>
        <td><%= link_to clip.movie.name, movie_path(clip.movie) %></td>
        <td>
          <%= link_to 'Edit', edit_clip_path(clip), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', clip_path(clip), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_clip_path, :class => 'btn btn-primary' %>
