<h1>/Clip</h1>

<p>
  <b>Filename</b><br>
  <%= @clip.filename %>
</p>

<p>
  <b>Subtitle</b><br>
  <%= @clip.subtitle %>
</p>

<p>
  <b>Movie</b><br>
  <%= @clip.movie_id %>
</p>

<p>
  <b>Start ms</b><br>
  <%= @clip.start_ms %>
</p>

<p>
  <b>End ms</b><br>
  <%= @clip.end_ms %>
</p>

<div class="form-actions">
  <%= link_to 'Back', clips_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_clip_path(@clip), :class => 'btn' %>
  <%= link_to 'Delete', clip_path(@clip), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
