<h1>Playlists</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.id %></td>
        <td><%= link_to playlist.user_id, playlist_path(playlist) %></td>
        <td><%= playlist.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_playlist_path(playlist), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', playlist_path(playlist), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_playlist_path, :class => 'btn btn-primary' %>
