<h1>/Playlist</h1>

<p>
  <b>User</b><br>
  <%= @playlist.user_id %>
</p>

<%= form_for PlaylistClip.new(:playlist => @playlist), :html => { :class => 'well form-search' } do |f| %>

        <%= f.text_field :clip_id, :class => 'search_field', :data => { :autocomplete_source => clips_path(:format => 'json') } %>
    <%= f.hidden_field :playlist_id %>

      <%= f.submit "Add", :class => 'btn btn-primary' %>
<% end %>

<ul id="pc" data-update-url="<%= sort_playlist_clips_url %>">
	<% @playlist.playlist_clips.each do |pc| %>
  <%= content_tag_for :li, pc, :data => { 'filename' => pc.clip.filename } do %>
    <%= pc.clip.subtitle %>
  <% end %>
<% end %>
</ul>

<button id="loadPlaylistButton">Load Playlist</button>
<div id="mediaplayer">JW Player goes here.</div>

<div class="form-actions">
  <%= link_to 'Back', playlists_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_playlist_path(@playlist), :class => 'btn' %>
  <%= link_to 'Delete', playlist_path(@playlist), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
